.address-form input::placeholder {
  font-size: 15px;
  color: #aaaaab;
}

.address-form textarea::placeholder {
  font-size: 15px;
  color: #aaaaab;
}

.address-form label {
  font-size: 16px;
}

.address-form select {
  outline: none;
  height: 5vh;
}

.address-form textarea {
  resize: none;
}

.address-full p {
  color: #6b6b6f;
  font-size: 13px;
  margin-left: 0.5rem;
}
.address-errors {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.address-select-control {
  border: 1px solid #dc3545;
}

.subTitle {
  color: #6b6b6f;
  font-size: 13px;
  margin-left: 0.5rem;
}
